.DS_Store
node_modules
.vs
.vscode
dist_electron
api/venv
/dist
electron-builder.yml
api_compiled
build
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron
api.spec

#Databse
*.db

tempData

api/htmlcov
databases_files

# notes perso
notes_nathan.md
.dccache
